.wrapper{
    width: 900px;
    margin: 0 auto;
}
.div1{
    height: 150px;
    background-color: rgb(255, 55, 0);
}
section{
    float: left;
    width: 100%;
    margin-top: 12px;
}
.div2{
    float: left;
    width: 638px;
    height: 400px;
    background-color: rgb(167, 68, 68);
}
.div3{
    float: right;
    width: 250px;
    height: 400px;
    background-color: rgb(213, 93, 93);
}
footer{
    float: left;
    width: 100%;
    margin-top: 12px;
}
.div4{
    height: 150px;
    background-color: rgb(238, 91, 115);
}