body{
    font-family:sans-serif;
    color: white;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
}
.div1{
    float: left;
    width: 100%;
    background-color: rgb(226, 33, 33);
}
.div11{
    float: left;
    padding: 50px;
    width: 400px;
}
.div12{
    float: left;
    width: 300px;
    padding: 50px;
}
.head{
    font-size: 36px;
}
.body{
    text-align: justify;
}
.div2{
    float: left;
    width: 100%;
    background-color: rgb(93, 10, 10);
}
.p1,.p2{
    float: left;
    width: 300px;
    height: 275px;
    box-sizing: border-box;
    border-right: 5px solid rgb(226, 33, 33);
}
.p3{
    float: right;
    width: 300px;
    height: 275px;
}
.p11{
    padding: 35px;
}
.p11 p{
    font-size: 14px;
    text-align: justify;
    color: rgb(153, 153, 11);
}